.section__feature {
  display: flex;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 47px;
}
.section__feature-head {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section__suptitle-text {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--first-color);
}
.section__feature-head-tilte {
  height: 120px;
  margin: 0 0 30px 0;
  padding: 25px 0;
  background: #f5f4fa;
  border-radius: 4px;
}
.section__advantages {
  display: block;
  margin: 0 auto;
}
