@media screen and (min-width: 480px) {
  .container-hero {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    width: 768px;
  }
  .navigation-list-address {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    width: 1200px;
  }
  .navigation-list-address {
    display: flex;
    align-items: baseline;
    padding-top: 32px;
  }
}

@media screen and (max-width: 480px) {
  .container-hero {
    width: 450px;
    margin: 0 auto;
  }
  .hero-title {
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1, 61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
}

.hero {
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img_mobile/Header.jpg");
}

@media screen and (min-width: 480px) {
  .hero {
    display: block;
    background-size: cover;
    background-position: center;
    max-width: 480px;
    margin: 0 auto;
    height: 400px;
    background: #2f303a;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img_mobile/Header.jpg");
  }
  .hero-title {
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1, 61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    display: block;
    max-width: 768px;
    margin: 0 auto;
    height: 400px;
    background: #2f303a;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img_tablet/Header.jpg");
  }
  .hero-title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
    background: #2f303a;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img_tablet/Header.jpg");
  }
  .hero-title {
    width: 360px;
  }
  .hero-title {
    display: block;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
}

.container-hero {
  display: block;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-modal-btn {
  display: block;
  margin: 0 auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87px;
  min-width: 200px;
  padding: 10px 32px;
  height: 50px;
  left: 140px;
  top: 232px;
  color: rgba(255, 255, 255, 1);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  &:hover,
  &:focus {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
