.container-header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container-header {
    width: 450px;
    margin: 0 auto;
  }
  .navigation-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    width: 1200px;
  }
  .navigation-list-address {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .navigation-list-address {
    display: none;
  }

  .navigation-list {
    display: none;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    max-width: 480px;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open {
    transform: translateY(0) translateX(-50%);
  }

  .mobile-close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: currentColor;
      color: var(--accent-color);
    }
  }

  .mobile-close-btn-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu__item {
    margin-bottom: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1, 17;
    letter-spacing: 0.02em;
    color: #212121;
  }

  .mobile-navigation-list {
    padding-top: 300px;
  }
  .mobile-navigation-list__navigation-tel {
    margin-bottom: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 1, 17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .mobile-navigation-list__mail-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1, 16;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .header-social__list {
    display: flex;
    padding-top: 64px;
  }

  .header-social__address {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .header-social__address::after {
    content: "";
    width: 22px;
    height: 0px;
    margin: 0 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 480px) {
  .navigation-list-address {
    display: none;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    max-width: 480px;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open {
    transform: translateY(0) translateX(-50%);
  }

  .mobile-close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: currentColor;
      color: var(--accent-color);
    }
  }

  .mobile-close-btn-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu__item {
    margin-bottom: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1, 17;
    letter-spacing: 0.02em;
    color: #212121;
    &:focus,
    &:hover {
      fill: currentColor;
      color: var(--accent-color);
    }
  }

  .mobile-navigation-list {
    padding-top: 300px;
  }
  .mobile-navigation-list__navigation-tel {
    margin-bottom: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 1, 17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .mobile-navigation-list__mail-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1, 16;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .header-social__list {
    display: flex;
    padding-top: 64px;
  }

  .header-social__address {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .header-social__address::after {
    content: "";
    width: 22px;
    height: 0px;
    margin: 0 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1, 19;
  }

  .navigation-list {
    align-items: center;
    display: inline-flex;
    margin-left: auto;
  }

  .navigation-list__menu {
    position: relative;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list__navigation-link {
    font-family: "Roboto", sans-serif;
    padding: 32px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current {
      color: var(--accent-color);
    }
    &.current::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #2196f3;
    }
  }

  .navigation-list-address {
    padding-top: 21px;
  }

  .navigation-list-address__navigation-nav {
    margin-bottom: 10px;
  }

  .navigation-list__mail-link,
  .navigation-list__tel-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1, 16;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .navigation-list-address__advantages-nav {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1, 19;
  }

  .navigation-list {
    align-items: center;
    display: inline-flex;
    margin-left: auto;
  }

  .navigation-list__menu {
    position: relative;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list__navigation-link {
    font-family: "Roboto", sans-serif;
    padding: 32px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current {
      color: var(--accent-color);
    }
    &.current::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #2196f3;
    }
  }

  .navigation-list__navigation-nav {
    margin-right: 50px;
  }

  .navigation-list-address__navigation-nav {
    margin-right: 30px;
  }

  .navigation-list__advantages-nav {
    margin-right: 10px;
    align-items: center;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-list__mail-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation-list__tel-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

// .container-header {
//   display: flex;
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .navigation {
//   display: flex;
//   align-items: center;
//   font-family: "Raleway", sans-serif;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1, 19;
// }

// .navigation-list {
//   align-items: center;
//   display: inline-flex;
//   margin-left: auto;
// }

// .navigation-list__menu {
//   position: relative;
//   display: flex;
//   align-items: center;
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .navigation-list__navigation-link {
//   font-family: "Roboto", sans-serif;
//   padding: 32px 0px;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   color: var(--first-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
//   &.current {
//     color: var(--accent-color);
//   }
//   &.current::after {
//     content: "";
//     position: absolute;
//     display: block;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: #2196f3;
//   }
// }

// .navigation-list__navigation-nav {
//   margin-right: 50px;
// }

// .navigation-list__advantages-nav {
//   margin-right: 10px;
//   align-items: center;
//   fill: currentColor;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .navigation-list__mail-link {
//   display: block;
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   color: var(--first-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .navigation-list__tel-link {
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   color: var(--first-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
