@media screen and (max-width: 480px) {
  .footer {
    display: block;
    padding: 60px 0px;
    text-align: center;
    background: #2f303a;
  }
}

@media screen and (min-width: 480px) {
  .footer {
    display: block;
    padding: 60px 0px;
    text-align: center;
    background: #2f303a;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 252px;
    background: #2f303a;
  }
}

// .footer {
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   height: 252px;
//   background: #2f303a;
// }
