.navigation-logo {
  display: flex;
  align-items: center;
  animation-duration: 5s;
}
.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}

.logo__accent-text {
  color: var(--accent-color);
}
.logo__theme_dark {
  color: var(--secondary-color);
}
.logo__theme_light {
  color: black;
}
